body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
}

.Categories {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.small-container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.Categories h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.Categories p {
    font-size: 2.5em;
    color: #555;
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    flex: 0 0 30%;
    margin-bottom: 30px;
}

.col img {
    width: 100%;
    border-radius: 5px;
}

.col h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

.col span {
    color: #e8491d;
}

/* Add hover effect to the columns */
.col:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #000000; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    border: 2px solid #68ebf5; /* Set your desired border color */
    border-radius: 5px; /* Set border-radius for rounded corners */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #000000; /* Set your desired background color on hover */
    color: #ffffff; /* Set your desired text color on hover */
}